# Основные зависимости
PyQt5==5.15.9
openai-whisper==20231117
torch==2.1.2
torchaudio==2.1.2
ffmpeg-python==0.2.0
moviepy==1.0.3
pydub==0.25.1
numpy==1.24.3
psutil==5.9.6
python-docx==1.2.0

# Постобработка текста
pymorphy3==1.0.0
pymorphy3-dicts==2.4.417150.0
razdel==0.5.0